
html{
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
}

.notice a{
    color: black;
}

:root{
    --row:rgba(255, 255, 255, 0.592);
    --fondo:rgba(54, 54, 54, 0.863);
    --verde1:rgb(0, 255, 0);
    --verde2:rgb(4, 102, 4);
}



.portada{
    width: 100%;
    height: 700px;
    margin: 50px 0;
    background-image: url('../IMGs/portada.png');
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}


.portada .texto{
    max-width: 800px;
    background-color: rgba(108, 106, 106, 0.646);
    color: #fff;
    text-align: center;
}
.texto p{

    margin: 20px 0;
    
}

#btn_portada{
    margin: 20px 0;
    border: none;
    outline: 1px solid var(--verde1);
    color:  var(--verde1);
    background-color: transparent;
    padding: 15px 20px;
    transition:all 0.4s;
}

#btn_portada:hover{
    background-color: var(--verde2);
    color: #fff;
    cursor: pointer;
    transition:all 0.4s;
    outline: 1px solid #fff;
}


/* POSTPORTADA */

article {
    max-width: 3000px;
}

.postPortada{

    width: 100%;
    /* transform: perspective(9cm) rotateX(-15deg) rotateY(30deg); */
    transform: perspective(500px);
    /* background-color: rgba(11, 94, 11, 0.322); */
    background-image: url("../IMGs/posPortada.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.postPortada section{
    background-color: rgb(64, 198, 109);
    border: 3px solid rgb(64, 208, 107);
    display: flex;
    align-items: center;
    justify-content: space-around;
    transform: rotateX(-20deg) rotateY(-30deg);
    flex-direction: row-reverse;

}

.postPortada section img{
    width: 100%;
    max-width: 300px;
    margin: 0 20px;
}


.postPortada section:nth-child(odd){
    
    /* background-color: red; */
    transform: rotateX(-20deg) rotateY(30deg);
    
}
.postPortada section h2{

    color: rgb(240, 239, 239);
}

/* VIDEO PORTADA */

.videoPortada{
    width: 100%;
    height: 700px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoPortada iframe{
    width: 70%;
    height: 80%;

}

/* INFORMACION */

table img{
    width: 50px;
}


article > h1, article > h2{
    text-align: center;
    color: rgb(0, 0, 0);
}

.tablaFondo h1{
    color: white;
}
.informacion{
    width: 100%;
}

.informacion li{
    width: 100%;
    text-align: center;
    margin: 5px 0;
    padding: 10px 0;
    color: #fff;
}
/* SECCIONES DE INFORMACION */

section{

    height: 100%;
    max-height: 800px;
    padding: 20px 10px;
    overflow: auto;
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    box-shadow: 5px 5px 10px 0 rgba(132, 132, 132, 0.768);


}


.tablaFondo{
    width: 100%;
    max-width: 1500px;
    background-image: url("../IMGs/cancha.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    backface-visibility: 0;
}



/* TABLA DE JUGADORES */

table{
    border-collapse:collapse;
    margin: 0 auto;
    width: 80%;
    /* background-color: rgba(0, 234, 255, 0.69); */
  
    
}

thead td, tbody td{
    font-size: 15px;
    margin: 10px 50px;
    padding: 10px 80px;
    text-align: center;
    border-top: 1px solid rgba(195, 195, 195, 0.872);
    /* border-bottom: 1px solid gray; */
    color: #fff;
    font-size: 17px;
}


thead tr{
    background-color: rgba(0, 255, 89, 0.607);
}

tbody td:nth-child(odd){
    background-color: rgba(106, 106, 106, 0.823);
    color: rgb(255, 255, 255);
}


/* NOTICIAS */

.notice{
    /* background-color: red; */
    width: 80%;
    max-width: 1200px;
    margin: 100px auto;
    padding: 20px;
    /* display: grid; */
   
}

.notice > h2, .notice > h1{
  text-align: center;  
  margin: 50px 0;
}

.notice ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:20px
}

.notice figure{
    width: 100%;
    padding: 0 10px;
    max-width: 300px;
    height: 500px;
    border: 1px solid rgba(11, 241, 11, 0.686);
    border-radius: 20px;
    box-shadow: 5px 5px 10px 0 rgba(132, 132, 132, 0.768);
    overflow: hidden;
    transition:all 0.4s;
}

.notice figure:hover{

    transform: translateY(-30px);
    transition:all 0.4s;
    cursor: pointer;
    box-shadow: 5px 5px 10px 0 rgba(192, 192, 192, 0.768);
    background-color: var(--fondo);
    color: #fff;
    

}

.notice figure img{
    width: 100%;
    height: 100%;
    max-width: 250px;
    max-height: 200px;
    transition: all 0.4s;
    display: block;
    margin: 10px auto;
    border-radius: 10px;

}

.notice figure h2, .notice figure p{
    text-align: center;
    margin: 10px 0;
}

.social{
    width: 100%;
    margin-top: 50px;
}

.social ul{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(64, 216, 89, 0.472);
    padding: 20px 0;
}

.social li{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}


.notice figure time{
    display: block;
    text-align: center;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width:1200px) {
    
    html{
        font-size: 14px;
    }
  
    .postPortada section img{
        width: 100%;
        max-width: 190px;
        margin: 0 5px;
    }

}


@media screen and (max-width:999px) {

    html{
        font-size: 14px;
    }
  

    .postPortada{

        /* transform: perspective(9cm) rotateX(-15deg) rotateY(30deg); */
        transform: perspective(none);
    }
    
    .postPortada section{
        background-color: rgb(64, 198, 109);
        border: 3px solid rgb(64, 208, 107);
        display: flex;
        align-items: center;
        justify-content: space-around;
        transform: rotateX(0deg) rotateY(0deg);
        /* flex-direction: row-reverse; */
    
    }
    
    .postPortada section img{
        width: 100%;
        max-width: 200px;
        margin: 0 20px;
    }

    .postPortada section:nth-child(odd){

        transform: rotateX(0deg) rotateY(0deg);
        flex-direction: row;
    
    }

    .videoPortada iframe{
        width: 90%;
        height: 80%;
    }

    

}


@media screen and (max-width: 880px) {
    
    html{
        font-size: 10px;
     }

    .portada{
        height: 300px;
    }

    .portada .texto{
        padding: 0 10px;
        font-size: 12px;
    }

    .postPortada section img{
        width: 100%;
        max-width: 100px;
        margin: 0 20px;
    }

    .videoPortada{
        height: 400px;
    }

    .notice ul{
        grid-template-columns: 1fr 1fr;
        gap:5px
    }
    
}


@media screen and (max-width:719px) {
    
    .notice > nav > ul{
        grid-template-columns: 1fr 1fr;
        gap:5px;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
}