
 html{
    font-size: 16px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    color: black;
    background-color: white;
    display: block;
    margin: 20px auto;
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 10px 0;
    border-radius: 10px;
}

body{
    background:black;
}

section{
    background-image: url("../IMGs/login_register_USER.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    margin-top: 50px;
    height: 100vh;
}

h1,h2{
    text-align: center;
    background-color: rgba(0, 128, 0, 0.615);
    color: white;
    padding: 20px 0;
}

form{
    background-color: rgba(80, 122, 181, 0.551);
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 5px 5px 10px 0 rgba(39, 38, 38, 0.897);
    border-left: 1px solid rgba(0, 0, 0, 0.575);
    border-top: 1px solid rgba(0, 0, 0, 0.575);
}

form input{
    width: 100%;
    border-radius: 5px;
    padding: 15px 5px;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.872);
    border: none;
    outline: 1px solid rgba(135, 133, 133, 0.915);
}

form input[type = "submit"]{
    
    width: 50%;
    min-width: 130px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
    transition: all 0.4s;
    background-color: white;
    color: blue;
    outline: 1px solid blue;
    transition: all 0.4s;
}


form input[type = "submit"]:hover{
    background-color: rgb(0, 98, 246);
    color: white;
}


.error, .success{
    width: 100%;
    max-width: 350px;
    padding: 20px;
    text-align: center;
    margin: 0 auto;
}

.error{
    
    background-color: red;
}

.success{
    background-color: rgb(255, 0, 247);

}


@media screen and (max-width: 500px){
    html{
        font-size: 10px;
    }

 
}


@media screen and (max-width: 500px){
    html{
        font-size: 10px;
    }

    section{
        padding: 20px;
    }

    h1,h2{
        width: 100%;
        padding: 10px 0;
    }

    form{
        width: 100%;
    }

    .error, .success{
        width: 80%;
        max-width: 350px;
        padding: 10px;
        text-align: center;
        margin: 0 auto 10px auto;
    }
    

 
}