@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
    text-decoration: none;

}


.cerrar{
    width: 100%;
    max-width: 300px;
    margin: 50px auto;
    background-color: green;
    text-align: center;
    padding: 10px 0;
}

.cerrar {
    color: white;

}


header{
    width: 100%;
    background: rgb(0, 0, 0);
}

/*HEADER SUPERIOR*/

.header__superior{
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

header .logo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

header .logo img{
    max-width: 100%;
    max-height: 100%;
    /* margin-left: 450px ; */
   
}

header .search input{
    width: 300px;
    padding: 10px;
    
}

/*BARRA MENU*/

header .container__menu{
    width: 100%;
    height: 70px;
    background: #036d3b;
    padding: 0px 20px;
}

header .menu{
    max-width: 1200px;
    margin: auto;
    height: 100%;
}

header nav{
    height: 100%;
}

header nav > ul{
    height: 100%;
    display: flex;
}

header nav ul li{
    height: 100%;
    list-style: none;
    position: relative;
}

header nav > ul > li:first-child > a{
    background-image: url("../IMGs/home.png");
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px 40px;
}

header nav > ul > li:first-child:hover > a{
    background-image: url("../IMGs/home.png");
    background-repeat: no-repeat;
    background-position: center center;
}

header nav > ul > li > a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 14px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 300ms ease;
}

header nav > ul > li > a:hover{
    transform: scale(1.1);
    background: #036d3b;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

header #selected{
    transform: scale(1.1);
    background-color: #036d3b;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}


/*SUBMENU*/

header nav ul li ul{
    width: 200px;
    display: flex;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 90px;
    left: -5px;
    padding: 14px 0px;
    visibility: hidden;
    opacity: 0;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    z-index: 0; /*deberia ser 10*/
    transition: all 300ms ease;
}

header nav ul li:hover ul{
    visibility: visible;
    opacity: 1;
    top: 70px;
}

header nav ul li ul:before{
    content: '';
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid white;
    position: absolute;
    top: -12px;
    left: 20px;
}

header nav ul li ul li a{
    display: block;
    color: #036d3b;
    padding: 6px;
    padding-left: 14px;
    margin-top: 10px;
    font-size: 14px;
    text-transform: uppercase;
    transition: all 300ms ease;
}

header nav ul li ul li a:hover{
    background: #036d3b;
    color: #fff;
    transform: scale(1.2);
    padding-left: 30px;
    font-size: 14px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
}

/*ARTICULO*/
main{
    background: #f0f0f0;
    padding: 40px 20px;
    margin-top: 194px;
}


 article{
    max-width: 1200px;
    margin: 20px auto;
    padding: 40px;
    background: #fff;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 300;
}

/*ELEMENTOS RESPONSIVOS*/

.icon__menu{
    font-size: 26px;
    color: white;
    cursor: pointer;
    width: 26px;
    height: 100%;
    display: none;
    align-items: center;
}

#label__check{
    width: 26px;
    height: 100%;
    display: none;
}

#check__menu{
    display: none;
}

@media screen and (max-width: 720px){

    .search input{
        display: none;
    }
    
    .header__superior{
        padding: 10px;
        width: 100%;
        /* border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center; */
    }

    .logo{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    header .logo img{
        background-color: transparent;
        width: 100%;
        max-width: 200px;
        margin: 0;
        /* margin: 0 auto;
        display: block; */
        
    }

    header nav > ul{
        flex-direction: column;
        background-color: #036d3b;
        position: fixed;
        left: 0;
        top: 158px;
        width: 100%;
        height: 0px;
        transition: all 300ms ease;
        z-index: 100;
        opacity: 0;
        visibility: hidden;




        
    }

    nav > ul > li > a:hover{
        transform: scale(1);
    }

    nav ul li ul{
        left: 90px;
    }

    nav > ul > li:hover ul{
        top: 50px;
    }

    nav > ul > li:first-child a{
        background-position: 20px;
    }

    #selected{
        transform: scale(1);
    }

    #label__check{
        display: block;
    }

    .icon__menu{
        display: flex;
    }

    #check__menu:checked ~ nav > ul{
        height: 300px;
        visibility: visible;
        opacity: 1;
    }

    main{
        margin-top: 158px;
    }


}
:root{
    --color-esqueleto:#EFF3F5;
}
.cover{
    width: 100%;
    height: 500px;
    background: var(--color-esqueleto);
    margin-top: 20px;
}

.container__article{
    max-width: 1000px;
    padding: 0px 20px;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container__article .box__article{
    width: 200px;
    height: 250px;
    background: var(--color-esqueleto);
    margin: 20px;
}

/*FOOTER*/

/* footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(background-footer.svg);
    background-size: cover;
    
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    margin-top: 100px;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.box__footer .logo img{
    width: 180px;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #7a7a7a;
    font-size: 18px;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #343434;
    font-weight: 700;
}

.box__footer a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}

.box__footer a:hover{
    opacity: 0.8;
}

.box__footer a .fab{
    font-size: 20px;
}

.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}

.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
} */





/* BRANDOM FOOTER */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff !important;
    margin-right: 10px;
    background-color: #0a141d;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:green;
    transform:scale(1.5);
}
.pie-pagina .grupo-2{
    background-color: #0a141d;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}

.box .i{
    color: #fff !important;
}

@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

/* FIN FOOTER */

main article h2{
    color: #036d3b;
    padding-top: 3px;

}

